<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="description" content="{{description}}" />
	<meta property="og:title" content="{{sitetitle}}" />
	<meta property="og:description" content="{{description}}" />
	<script src="/global/scripts/jquery-3.7.1.min.js"></script>
	<script src="/global/trumbowyg/trumbowyg.min.js"></script>
	<script src="/global/scripts/htmx.min.js"></script>
	<script src="/global/scripts/global.js" defer></script>
	<script src="/designs/admin/admin.js" defer></script>
	<link rel="stylesheet" href="/global/trumbowyg/ui/trumbowyg.min.css" />
	<link href="/global/fontawesome/css/all.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/designs/admin/admin.css" />
	<title>{{sitetitle}} {{pagetitle}}</title>
</head>
<body>
	<dialog id="cmsdialog" class="modal">
		<div class="buttonright" id="cmsdialogbar"><a id="cmsdialogclose" href="javascript:;"><i class="fa-regular fa-circle-xmark"></i></a></div>
		<div id="cmsdialogform">
		</div>
	</dialog>
	{{bodytop}}
<header>
	<div id="topbar">
		<div id="sitetitle"><a href="/admin">{{titleimage}}{{headersitetitle}}</a></div>
		<form id="searchform" hx-post="/search" hx-target="#pagecontent">
			<input id="search" name="searchText" type="text" placeholder="search phrase" aria-label="search field" />
			<button id="searchbutton" type="submit" aria-label="search"><i class="fa-solid fa-magnifying-glass" aria-label="search"></i></button>
		</form>
		<button id="searchicon" aria-label="open search" aria-controls="generate-slideout-menu" aria-expanded="false"><i class="fa-solid fa-magnifying-glass"></i></button>
		<button id="navicon" aria-label="open nav" aria-controls="generate-slideout-menu" aria-expanded="false"><i class="fa-solid fa-bars"></i></button>
		<button id="lightdark" class="lightdark" type="button" aria-label="light or dark theme"><i class="fa-regular fa-sun"></i></button>
	</div>
	<div id="sitesubtitle">{{subtitle}}</div>
	<div class="buttonright">
		<button title="site files" id="admineditsitecontrol" hx-get="/admin/getfilesform" hx-target="#cmsdialogform" onclick="document.getElementById('cmsdialog').showModal();"><i class="fa-solid fa-folder"></i></button>
		<button title="site settings" id="admineditsitecontrol" hx-get="/admin/getsiteform" hx-target="#cmsdialogform" onclick="document.getElementById('cmsdialog').showModal();"><i class="fa-solid fa-gear"></i></button>
		<button title="site security" id="admineditusercontrol" hx-get="/admin/getuserform" hx-target="#cmsdialogform" onclick="document.getElementById('cmsdialog').showModal();"><i class="fa-solid fa-user"></i></button>
		<a id="livesite" href="/" target="_live">Live Site</a> 
	</div>
	<div id="nav">
		<nav>{{navigation}}</nav>
	</div>
</header>
	{{hero}}
	<main class="content">
		<div class="widthcontainer">
			<div id="pagecontent">
				<section>
					<div class="buttonright">
						<!--<button id="admineditpage" hx-post="/admin/getpageform/{{pageid}}" hx-target="#pagecontent"><i class="fa-regular fa-pen-to-square"></i></button>-->
						<button id="adminpageconfig" title="page settings" aria-label="page settings" hx-get="/admin/getpageconfig/{{pageid}}" hx-target="#cmsdialogform" onclick="document.getElementById('cmsdialog').showModal();"><i class="fa-solid fa-gear"></i></button>
						<button id="adminaddpagecontrol" title="add child page" aria-label="add child page" hx-post="/admin/getaddpageform/{{pageid}}" hx-target="#pagecontent"><i class="fa-solid fa-plus"></i></button>
						<button id="admindeletepagecontrol" title="delete page" aria-label="delete page" hx-post="/admin/deletepage/{{pageid}}" hx-confirm="Are you absolutely sure you wish to delete this page?" hx-target="#pagecontent"><i class="fa-solid fa-trash"></i></button>
						<button id="adminaddblockcontrol" title="add block of content to this page" aria-label="add block of content to this page" hx-get="/admin/getaddblockform/{{pageid}}" hx-target="#cmsdialogform"  onclick="document.getElementById('cmsdialog').showModal();"><i class="fa-regular fa-square-plus"></i></button>
					</div>
					<form name="pagecontentform" id="pagecontentform" hx-post="/admin/pagecontentform">
						<input type="hidden" id="pageid" name="pageid" value="{{pageid}}" />
						<h1 id="ce_pagetitle" contenteditable="true" onblur="javascript: $('#pagetitle').val($('#ce_pagetitle').text());">{{pagetitle}}</h1>
						<input id="pagetitle" name="pagetitle" type="hidden" value="{{pagetitle}}" />
						<div id="content" class="body">{{content}}</div>
						<div class="buttonright hide"><button type="submit" id="savecontent"><i class="fa-regular fa-floppy-disk"></i></button></div>
						<script>$(document).ready(function () { SetupEvents(); });</script>
					</form>
				</section>
			</div>
			<div id="pageblock">
			</div>
		</div>
	</main>
	<footer>
		<div class="widthcontainer">
			<div id="footers">
				{{footer1}}{{footer2}}{{footer3}}{{footer4}}
			</div>
		</div>
	</footer>
	{{bodybottom}}
</body>
</html>