@import url(/global/styles/global.css);

* {
	/* Color scheme */
	--bgcolor: #ddd;
	--textcolor: #061539;
	--highlight: #162955;
	--highlightbg: #8ac;
	--navbg: #8ac;
	--navitembg: transparent;
	--navitemhlbg: #000;
	--navitemcolor: #061539;
	--navitemhlcolor: #fff;
}

@media (prefers-color-scheme: dark) {
	* {
		--bgcolor: linear-gradient(to bottom, #333 0%,#444 100%);
		--textcolor: #ddd;
		--highlight: #fff;
		--highlightbg: #000;
		--navbg: #333;
		--navitembg: #333;
		--navitemhlbg: #000;
		--navitemcolor: #fff;
		--navitemhlcolor: #fff;
	}
}

body {
	position: relative;
	min-height: 800px;
}

.admincontrol.fright {
	float: right;
}

.admincontrol.fright {
	cursor: pointer;
}

.modal {
	background: white;
	border-radius: 10px;
	border: 2px solid #333;
	margin: auto;
	padding: auto;
}

#overlaybox {
	width: 800px;
	max-width: 100%;
	position: relative;
	padding: 30px;
	background: #eee;
	color: #333;
	border-radius: 20px;
}

#overlayclose {
	font-size: 30px;
}

#overlaybox form div.field {
	display: flex;
	margin: 2px 0;
}

#overlaybox input {
	color: #333;
	font-size: 1rem;
	padding: 2px 3px;
	margin: 0 10px;
	flex-basis: 60%;
}

#overlaybox label {
	flex-basis: 40%;
	text-align: right;
}

form button {
	font-size: 150%;
	border: none;
	background: transparent;
}

#overlaybox h2, #overlaybox h3 {
	padding: 0;
	margin: 0;
	text-align: center;
}

#overlaybox textarea {
	width: 100%;
	height: 300px;
}

div.buttonright {
	display: block;
	text-align: right;
	padding: 0 20px;
}

.buttonright span {
	display: inline-block;
	padding: 10px;
}

.buttonright i {
	cursor: pointer;
	color: var(--highlight);
}

dialog .buttonright i {
	color: #333;
}

#adminpageform label,
#addpageform label {
	display: inline-block;
	width: 150px;
	text-align: right;
	padding: 2px 10px;
	vertical-align: top;
}

#adminpageform input,
#addpageform input {
	width: 400px;
	max-width: 100%;
}

#adminpageform textarea,
#addpageform textarea {
	display: inline-block;
	width: calc(100% - 250px);
	height: 400px;
	white-space: normal;
}

#uploads {
	border: 1px solid #888;
	;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
}

#drop-zone {
	border: 2px dashed #900;
	border-radius: 8px;
	padding: 20px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 10px;
}

#drop-zone.highlight {
	background: #ccffcc;
}

.filemanager {
	border: 1px solid #888;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 10px;
}

.folder, .file {
	padding-left: 8px;
}