<form id="uploadform" hx-encoding='multipart/form-data' hx-post='/admin/upload' hx-action="filemanager">
	<progress id="progress" value="0"></progress>
	<input type="file" id="uploadfiles" name="uploadfiles" multiple="multiple" />
	<div class="buttonright"><input type="submit" value="Upload" /></div>

	<ul id="selectedfileslist">
	</ul>
</form>

<h2>Uploads Folder</h2>
<form id="adminfilesaddfolder" hx-post="/admin/addfolder">
	<input type="hidden" id="currentFolder" name="currentFolder" value="{{currentfolder}}" />
	<label for="newfolder">Add Folder: </label><input type="text" id="newfolder" name="newfolder" pattern="" />
	<input type="submit" value="Add Folder" />
</form>

<div class="buttonright"><button hxget="/admin/getuploads" hx-target=".filemanager">Refresh</button></div>
<div class="filemanager" hx-get="/admin/getuploads" hx-trigger="load">
</div>

<script>
	// retrieve important DOM elements
	const fileUploadElem = document.querySelector("input#uploadfiles");
	const formElem = document.querySelector("form#uploadform");
	const selectedFilesList = document.querySelector("ul#selectedfileslist");
	// file input change event - create list item for each selected file
	fileUploadElem.addEventListener("change", (event) => {
		Array.from(fileUploadElem.files).forEach((file) => {
			let listItem = document.createElement('li');
			listItem.innerHTML = file.name + ' - ' + file.type;
			selectedFilesList.appendChild(listItem);
		});
	});
	htmx.on('#uploadform', 'htmx:xhr:progress', function (evt) {
		htmx.find('#progress').setAttribute('value', evt.detail.loaded / evt.detail.total * 100)
		htmx.find('#progress').setAttribute('value', 0);
		selectedFilesList.querySelectorAll('li').forEach((i) => {
			selectedFilesList.remove(i);
		});
	});
</script>