@import url(/global/styles/global.css);

* {
	/* Color scheme */
	--bgcolor: #ebfc8d;
	--textcolor: #333;
	--highlight: #000;
	--highlightbg: #ebfc8d;
	--navbg: #ebfc8d;
	--navitembg: transparent;
	--navitemhlbg: #000;
	--navitemcolor: #061539;
	--navitemhlcolor: #fff;
}

header #sitetitle a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	.titletext {
		align-self: center;
		font-size: 5rem;
		margin-left: 20px;
		text-shadow: -3px 3px 5px #7d6726;
	}
}
#titlebee {
	display: inline-block;
	width: 200px;
	max-width: 90%;
}

@media (prefers-color-scheme: dark) {
	* {
		--bgcolor: #000;
		--textcolor: #ffee55;
		--highlight: #ffcc33;
		--highlightbg: #000;
		--navbg: #000;
		--navitembg: transparent;
		--navitemhlbg: #000;
		--navitemcolor: #fff;
		--navitemhlcolor: #fff;
	}
}