/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	/* Color scheme */
	--bgcolor: #ace;
	--textcolor: #061539;
	--highlight: #162955;
	--highlightbg: #8ac;
	--navbg: #8ac;
	--navitembg: transparent;
	--navitemhlbg: #000;
	--navitemcolor: #061539;
	--navitemhlcolor: #fff;
}

@media (prefers-color-scheme: dark) {
	* {
		--bgcolor: linear-gradient(to bottom, #161d72 0%,#526799 100%);
		--textcolor: #dadada;
		--highlight: #ddddff;
		--highlightbg: #161d72;
		--navbg: #161d72;
		--navitembg: transparent;
		--navitemhlbg: #000;
		--navitemcolor: #fff;
		--navitemhlcolor: #fff;
	}
}

html {
	min-height: 100%;
	/* Prevent font size inflation */
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	font-size: 18px;
	font-family: system-ui, sans-serif;
	line-height: 1.4;
	color: var(--textcolor);
	background: var(--bgcolor);
	background-attachment: var(--backgroundattachment, unset);
	background-size: var(--backgroundsize, unset)
	position: relative;
	height: 100%;
	max-width: 100%; /* remove this for a full-width layout */
	margin: 0 auto; /* centers the layout */
	min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a list role, 
	which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Sections */
section {
	padding: 0;
	display: block;
	margin-top: 15px;
}

/* Header */
header, main, footer {
	position: relative;
	line-height: 2rem;
	vertical-align: middle;
	width: 100%;
}

section, #footers {
	padding: 15px;
	background: var(--boxbackground);
	backdrop-filter: var(--boxbackdropfilter, inherit);
	border-radius: var(--boxborderradius);
}

.widthcontainer {
	max-width: 1440px; /* remove this for a full-width layout */
	margin: 0 auto; /* centers the layout */
	padding: 15px;
}

main.content {
	/* min-height: 300px;*/
}

header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px 15px;
	background: var(--highlightbg);
	color: white;
	z-index: 10;
	border-bottom: 2px solid var(--navitemhlbg);
	
	#sitetitle, a, nav a {
		font-size: 2rem;
		white-space: nowrap;
		color: var(--color);
	}
}

#topbar {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

#sitetitle {
	flex-grow: 4;
	a
	{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		/*flex-wrap: wrap;*/
		.titletext
		{
			color: var(--sitetitlecolor);
			background: var(--sitetitlebg);
			align-self: center;
			font-size: 5vw;
		}
	}
}

#titleimage {
	display: inline-block;
	width: 200px;
	max-width: 50%;
}

#sitesubtitle {
	display: none;
	color: var(--sitesubtitlecolor);
	background: var(--sitesubtitlebg);
	padding: 5px 10px 5px 0;
}

#nav {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	padding: 0 8px 4px 8px;
	z-index: 12;
}

#nav.show {
	display: block;
}

#searchform {
	display: none;
	border-radius: 10px;
	padding: 0 10px;
}

#searchform.show {
	display: inline-block;
	position: absolute;
	top: 50px;
	transition: all 2s ease-in-out;
	width: calc(100% - 30px);
}

header #searchform input {
	font-size: 1.2rem;
	width: 250px;
	padding: 2px 3px;
	border: none;
}

header #searchform button {
	margin: 5px 10px;
}
header #searchform {
	display: none;
	background: #fff;
}
header #searchform #searchbutton {
	color: #333;
	padding: 1px;
	font-size: 1.3rem;
}

button#searchicon,
button#navicon,
button#lightdark,
button#searchbutton
{
	background: transparent;
	color: var(--topbaricons);
	line-height: 1;
	border: none;
	font-size: 1.8rem;
	cursor: pointer;
}


/* Navigation */
nav ul {
	padding-left: 0;
	list-style-type: none;
	z-index: 20;
	background: var(--navbg);
	color: var(--navitemcolor);
	border-radius: var(--boxborderradius);
	backdrop-filter: var(--navbackdropfilter, inherit);
}

nav ul li {
	list-style-type: none;
	display: block;
	margin: 0 3px 0 0;
	clear: both;
	border-radius: var(--boxborderradius);
}

nav ul li ul {
	position: relative;
	display: none;
	padding-left: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

nav > ul > li {
	list-style-type: none;
	position: relative;
}

nav ul li a {
	font-size: 1.2rem;
	display: inline-block;
	width: 100%;
	background: var(--navitembg);
	color: var(--navitemcolor);
	padding: 3px 10px;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;;
}

nav li:hover, nav li:hover > a, nav li:hover > .sub,
nav li:active, nav li:active > a, nav li:active > .sub,
nav li.path, nav li.path > a, nav li.path > .sub {
	background: var(--navitemhlbg);
	color: var(--navitemhlcolor);
	text-decoration: underline;;
}

nav li:has(li.path), nav li:has(li.path) > a, nav li:has(li.path) > .sub {
	background: var(--navitemhlbg);
	color: var(--navitemhlcolor);
}

nav li.open > ul {
	display: block;
}

nav li li a {
	width: 100%;
}

nav li.haschildren > a {
	width: calc(100% - 55px);
}

nav a:not(:last-of-type) {
	margin-right: 2.5vw;
}

/* glyph */
nav button.sub {
	display: inline-block;
	padding: 3px;
	cursor: pointer;
	background: rgba(33,33,33,0.3);
	text-align: center;
	color: var(--navitemcolor);
	margin-right: 15px;
	border: none;
}

nav li li button.sub {
	float: right;
}

nav button.sub i {
	transition: all 0.5s;
}

nav button.sub.open i {
	transform: rotate(45deg);
}

@keyframes growDown {
	0% {
		transform: scaleY(0);
	}

	80% {
		transform: scaleY(1.1);
	}

	100% {
		transform: scaleY(1);
	}
}

.hero {
	z-index: 1;
}

.content {
	z-index: 1;
}

/* General */
a {
	text-decoration: none;
	color: var(--highlight);
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4,
button, input, label {
	line-height: 1.1;
}

section h1 {
	font-size: 2rem;
	margin: 0 0 15px 0;
	text-wrap: balance;
}

h2, h3, h4 {
	font-size: 1.5rem;
	font-weight: 600;
	margin: 1.6em 0 .6em 0;
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

p, ul, ol, article {
	margin-bottom: .6em;
}

ul {
	list-style-type: none;
}

li {
	margin-bottom: .2em;
}

ul, ol {
	padding-left: 2ch;
}

b, strong {
	font-weight: 600;
}

small {
	font-size: .85em;
}

hr {
	height: 1px;
	border: 0;
	background: currentColor;
	opacity: .1;
	margin: 1.2em 0;
}

abbr {
	text-decoration: none;
}

abbr[title]:hover {
	opacity: .7;
	cursor: help;
}

blockquote {
	padding-left: 2ch;
	opacity: .7;
	margin-bottom: .6em;
	position: relative;
}

blockquote:before {
	content: "";
	position: absolute;
	left: 0;
	top: .3em;
	bottom: .3em;
	background: currentColor;
	width: 1px;
	opacity: .2;
}

img, svg, video, audio {
	display: block;
	max-width: 100%;
	height: auto;
	fill: currentColor;
}

code, textarea {
	font-family: ui-monospace, SF Mono, Menlo, Monaco, Andale Mono, monospace;
	font-size: 1em;
	opacity: .7;
}

a code {
	opacity: 1;
}

pre, textarea { /* for code samples */
	font-size: .9em;
	color: inherit;
	line-height: inherit;
	padding: .6em .9em;
	margin: .8em 0 1em 0;
	position: relative;
	display: block;
	width: 100%;
	white-space: pre;
	border: 0;
	border-radius: 4px;
	background: rgba(255,255,100,.075);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.2), inset -1px -1px 0 rgba(0,0,0,.04);
}

/* Inline footnotes */
/*label {
	cursor: pointer;
	vertical-align: super;
	line-height: 1;
	font-size: .75em;
	padding-left: .1em;
}

label:hover {
	color: var(--highlight);
}

label:before {
	content: "[";
}

label:after {
	content: "]";
}

label + input,
label + input + small {
	display: none;
}

input:checked + small {
	display: block;
	padding: .8em 0 1em 2.5vw;
}
*/

/* Figures */
figure {
	margin: 2em 0 1.5em 0;
}

figure figcaption {
	margin: 0.8em 0 0 0;
	font-size: .85em;
	opacity: .7;
}

/* Responsive video embeds */
figure.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	overflow: hidden;
}

figure.video iframe, figure.video object, figure.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	visibility: hidden; /* so loading="lazy" should work? */
}

section:target iframe {
	visibility: visible;
}

/* External links */
a[href*="//"]:after {
	font-weight: 300;
	font-size: .85em;
	content: "\2197"; /* top right arrow: â†— */
	color: var(--textcolor);
	opacity: .25;
}

a[href*="//"]:hover:after {
	color: var(--highlight);
	opacity: 1;
}

/* File links */
a:before {
	font-size: .7em;
	margin-right: .4em;
}

/* Add more filetypes here if you want */
a[href$=".pdf"]:before {
	content: "pdf";
}

a[href$=".txt"]:before {
	content: "txt";
}

a[href$=".mp3"]:before {
	content: "mp3";
}

a[href$=".zip"]:before {
	content: "zip";
}

a[href$=".7z"]:before {
	content: "7z";
}

a[href$=".jpeg"]:before,
a[href$=".jpg"]:before,
a[href$=".gif"]:before,
a[href$=".png"]:before {
	content: "img";
}

/* ------- News ------- */
article + article {
	margin-top: 4.5em;
}

article h2 {
	font-weight: 700;
	margin: 0 0 1em 0;
}

article time {
	margin-left: .6em;
	font-size: .8em;
	font-weight: 400;
	opacity: .7;
}

/* ------- Images Grid ------- */
.grid {
	display: grid;
	grid-gap: 5vmin;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* 150px = minimum image size */
	grid-auto-flow: dense;
	padding: 2em 0;
}

.grid a {
	position: relative;
	border: 0;
}

.grid a:hover {
	transform: scale(.975);
}

/* For a square ratio */
.grid a:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.grid a img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* ------- Slideshow ------- */
.slides {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.slides figure {
	height: 100vh;
	padding: 0 5vw;
	margin: 0;
	display: grid;
	place-items: center;
	align-content: center;
	scroll-snap-align: center;
}

.slides figure img {
	max-height: 88vh; /* Adjust if needed */
}

.slides figure.cover {
	padding: 0;
}

.slides figure.cover img {
	max-height: none;
	position: absolute;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

/* ------- Lightbox ------- */
.lightbox {
	display: none;
	color: var(--textcolor);
}

.lightbox:target {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: grid;
	place-items: center;
	align-content: center;
	background: var(--bgcolor);
	border: 0;
	z-index: 3;
}

.lightbox img {
	max-height: 100vh;
	z-index: 4;
}

.lightbox:target:before { /* Loading spinner */
	content: "";
	height: 2em;
	width: 2em;
	animation: spin .8s infinite linear;
	border: 1px solid;
	border-right-color: transparent;
	border-radius: 50%;
	display: block;
	position: absolute;
	transform: translateX(-50%);
	opacity: .25;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.lightbox:target:after { /* Ã— to close */
	content: "\00D7";
	position: fixed;
	font-size: 2em;
	font-weight: 200;
	line-height: 0;
	top: .75em;
	right: .5em;
	z-index: 4;
}

/* hamburger nav */
#mobilenav > button {
	background: transparent;
	color: var(--topbaricons);
	border: none;
	font-size: 1.3rem;
	position: relative;
	z-index: 888;
	text-align: center;
	cursor: pointer;
	padding: 2px 5px;
}

#nav-toggle:checked + .navbutton .navicon {
	background-color: transparent;
}

#nav-toggle:checked + .navbutton .navicon::before {
	top: 0;
	transform: rotate(135deg);
}

#nav-toggle:checked + .navbutton .navicon::after {
	top: 0;
	transform: rotate(-135deg);
}

#nav-toggle:checked ~ #nav {
	display: block;
}

/* uploads */
#drop-zone {
	border: 2px dashed #ccc;
	padding: 20px;
	text-align: center;
	cursor: pointer;
}

fieldset {
	padding: 0 20px 20px 20px;
	margin-top: 40px;
} 

fieldset legend {
	padding: 0 10px 4px;
	border: 1px solid #fff;
}

@media (min-width:1000px) {
	header {
		display: block;
		max-width: 1440px; /* remove this for a full-width layout */
		margin: 0 auto; /* centers the layout */
		padding: 15px 50px 0 50px;
		z-index: 10;
		background: transparent;
		position: relative;
		font-size: 1rem;
		border-bottom: none;
	}

	#mobilenav {
		display: none;
	}

	#sitetitle {
		font-size: 3rem;
		padding: 20px 50px 20px 0;
		margin-left: 0;
		color: var(--highlight);
	}

	.widthcontainer {
		padding: 15px 50px;
	}

	#sitetitle a {
		font-size: 3rem;
		display: inline-block;
		padding: 0;
	}

	.titletext {
		margin: 0;
	}

	#sitesubtitle {
		display: inline-block;
	}

	header #searchform {
		display: inline-block;
	}
	header #searchicon,
	header #navicon {
		display: none;
	}

	header #nav {
		display: block;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		padding: 0;
		margin: 15px 0 0 0;
		border-radius: 5px;
		text-align: left;
		font-size: 1rem;
	}

	header #nav a {
		width: auto;
		font-size: 1.2rem;
		padding: 5px 10px;
	}

	nav ul li ul {
		background: var(--navbg);
		list-style-type: none;
		display: none;
		position: absolute;
		width: 300px;
		animation: growDown 300ms ease-in-out forwards;
		transform-origin: top center;
		perspective: 1000px;
		padding-left: 0;
	}

	nav > ul > li > ul {
		list-style-type: none;
		top: 100%;
		left: 0;
	}

	nav > ul > li > ul li ul {
		top: 0;
		left: 100%;
		width: 300px;
	}

	nav ul li:hover > ul {
		display: block;
		perspective: 1000px;
		animation: growDown 300ms ease-in-out forwards;
	}

	nav ul li {
		display: inline-block;
		padding: 2px 20px;
	}

	nav ul li li {
		display: block;
	}

	header {
		font-size: 1rem;
	}

	nav ul li.haschildren button.sub {
		background: transparent;
		border: none;
	}
}

/* ------- Smaller screens ------- */
@media only screen and (max-width: 680px) {
	body {
		font-size: 16px;
	}
}

@media only screen and (max-width: 540px) {
	nav {
		width: 100%;
	}
}

/* ------- Print ------- */
@media print {
	nav, .lightbox:target:after {
		display: none;
	}

	article, figure, img {
		page-break-inside: avoid;
		break-inside: avoid;
	}

	/* Inline footnotes */
	label + input + small {
		display: inline;
	}

	label + input + small:before {
		/* content: "["; */
	}

	label + input + small:after {
		/* content: "]"; */
	}

	/* Slides */
	.slides, .slides figure {
		position: relative;
		height: auto;
		padding: 0;
	}

	.slides figure img, .slides figure.cover img {
		max-height: auto;
		position: relative;
		z-index: 1;
		width: auto;
		height: 100vh;
		object-fit: contain;
	}
}
